@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --header-font:"Merriweather", serif;
    --text-dark: black;
    --text-light:#6b7280;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   font-family: "Poppins", sans-serif;
   background-color: white;
}

.section_header {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    columns: var(--text-dark);
    text-align: center;
}

.section_description {
    font-weight: 500;
    font-family: var(--header-font);
    color: var(--text-light);
    text-align: center;
}

/* the nav mainly controls the color,space-between etc of the tourrkin logo*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #f8f8f8;
}

.nav_logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.logo span {
    color: red;
}

.nav_links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav_links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav_links li a:hover {
    color: red;
}

.header {
    padding-block: 5rem;
    background-image: linear-gradient(rgba(124, 115, 115), rgba(124, 115, 115)), url(IMG/IMG_0430.JPG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/* this takes care of the header and it spans and text inline(BEST OF KIN)*/

.header_container {
    text-align: center;
    padding: 5rem 2rem;
}

.header_container h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 600;
    line-height: 5rem;
    color: black;
}

.header_container h1 span {
    font-size: 5rem;
    color: white;
}

.header_container p {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: "Merriweather", serif;
    color: white;
}

/* this keeps the location search bar in check ps. the gap holds the space between the location icon and the search box.*/

.header_container form {
    display: flex;
    justify-content: center;
}

.input_class {
    display: flex;
    width: 100%;
    max-width: 600px;
    gap: 10px;
}

.input_class input {
    flex: 1;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

/* this one is for the search button.*/ 

.input_class button {
    padding: 0.75rem 1.5rem;
    margin-bottom: 2px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.input_class button:hover {
    background-color: #252424;
}

/* these are for the feature containers text, images and all.*/

.feature_container {
    display: grid;
    gap: 2rem;
    padding-top: 40px;
    padding-left: 20px;
}

.feature_card {
    padding: 2rem 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    gap: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.feature_card:hover {
    transform: scale(1.03);
}

.feature_card img {
    max-width: 70px;
}

.feature_card h4 {
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-dark);
}

.feature_card p {
    color: var(--text-light);
    line-height: 1.5rem;
}

/* This one's take care of the destination card for exe: Palais Du Peuple etc*/

.destination_grid{
    margin-top: 4rem;
    display: grid;
    gap: 1rem
}

.destination_card{
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.destination_card img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.destination_content{
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}

.destination_card:hover .destination_content {
    opacity: 1;
}

.discount{
    margin-top: 2rem;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(IMG/IMG_0415.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.discount_container{
    text-align: center;
}

.discount_container h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--header-font);
    color: white;
}

.discount_container h2 span {
    font-size: 2rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    margin-bottom: 10px;
    font-size: 1rem;
    border-radius: 5px;
    color: black;
    background-color: lightblue;
}

.package_grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.package_card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.package_card:hover {
    transform: scale(1.03);
}

.package_card img {
    width: 100%;
    height: 200px;
    height: auto;
    object-fit: cover;
}

.package_card_details {
    padding: 1rem;
}

.package_card_details h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.package_card_details p {
    margin-bottom: 2rem;
    color: var(--text-light);
    line-height: 1.5rem;
}

.btn1 {
    padding: 0.75rem 1.5rem;
    margin-bottom: 2px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.package_card_details h3 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
}

.footer_container {
    display: grid;
    gap: 4rem 2rem;
    margin-top: 3rem;
    text-align: center;
}  

.footer_logo a {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.footer_logo a span {
    color: red;
}

.footer_col p {
    margin-block: 1rem;
    font-family: var(--header-font);
    color: var(--text-light);
    line-height: 1.5rem;
}

.footer_col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer_socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer_socials a {
    font-size: 1.25rem;
    color: black;
}

.footer_socials a:hover {
    color: red;
}

.footer_bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}


/* the media rule is used to create responsive designes making the website layout able to adapt to diffrent screen and sizes like (phones and tablets etc).*/


@media (width > 540px) {
    .header {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .destination_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .package_grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (width > 768px) {
    .header {
        grid-template-columns: repeat(3, 1fr);
    }

    .feature_container {
    grid-template-columns: repeat(3, 1fr);
}

    .destination_grid {
    grid-template-columns: repeat(3, 1fr);
}

    .package_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width > 1024px) {
    .destination_grid {
        gap: 2rem;
    }
}
